* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 98.9vw;
}

body {
    background-color: darkslategrey;
}

.title {
    font-family: 'Architects Daughter', cursive;
    margin-left: 2%;
    font-size: 24px;
    color: burlywood;
    width: 40vw;
}

nav {
    width: 100vw;
    background-color: darkslategrey;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    width: 50vw;
    text-align: center;
    flex-shrink: 0.5;
    align-items: center;
}

.nav-title {
    color: burlywood;
    text-decoration: none;
}

.nav-item {
    display: inline-block;
    margin-right: 5%;
    color: whitesmoke;
    font-size: 18px;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.nav-link {
    color: whitesmoke;
    text-decoration: none;
}

.cart-size {
    color: white;
    margin-right: 5px;
    font-size: 20px;
}

.nav-link:visited {
    color: whitesmoke;
    text-decoration: none;
}

.nav-log-in {
    color: whitesmoke;
    text-decoration: none;
}

.navigation p:hover {
    cursor: pointer;
    color: burlywood;
    background-color: darkslategrey;
}

.please-log-in {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transform: scale(0);
    position: absolute;
    right: 1%;
    margin-top: 5%;
    background-color: rgba(233, 150, 122, 0.829);
    color: rgba(255, 238, 0, 0.788);
    border-radius: 5%;
    z-index: 2;
    width: 100px;
}

.contact-us-title {
    font-size: 40px;
    font-family: 'Architects Daughter', cursive;
    color: burlywood;
    text-align: center;
}

.contact-us-content {
    font-size: 20px;
    width: 80vw;
    font-family: 'Architects Daughter', cursive;
    color: burlywood;
    text-align: center;
    margin: 0 auto;
}

.contact-information {
    font-size: 28px;
    font-family: 'Architects Daughter', cursive;
    background-color: burlywood;
    color: darkslategrey;
    text-align: center;
    margin: 3% auto 0;
    padding: 1%;
    width: fit-content;
}

footer {
    background-color: burlywood;
    height: 40px;
    display: grid;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

footer p {
    margin-left: 2%;
    color: darkslategrey;
}