* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 98.9vw;
}

body {
    background-color: darkslategrey;
}

.title {
    font-family: 'Architects Daughter', cursive;
    margin-left: 2%;
    font-size: 24px;
    color: burlywood;
    width: 40vw;
}

nav {
    width: 100vw;
    background-color: darkslategrey;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    width: 50vw;
    text-align: center;
    flex-shrink: 0.5;
    align-items: center;
}

.nav-title {
    color: burlywood;
    text-decoration: none;
}

.nav-item {
    display: inline-block;
    margin-right: 5%;
    color: whitesmoke;
    font-size: 18px;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.nav-link {
    color: whitesmoke;
    text-decoration: none;
}

.cart-size {
    color: white;
    margin-right: 5px;
    font-size: 20px;
}

.nav-log-in {
    color: whitesmoke;
    text-decoration: none;
}

.navigation p:hover {
    cursor: pointer;
    color: burlywood;
    background-color: darkslategrey;
}

.please-log-in {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transform: scale(0);
    position: absolute;
    right: 1%;
    margin-top: 5%;
    background-color: rgba(233, 150, 122, 0.829);
    color: rgba(255, 238, 0, 0.788);
    border-radius: 5%;
    z-index: 2;
    width: 100px;
}

.log-in-title {
    margin-top: 5vh;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 45px;
    color: burlywood;
}

.login-failed {
    color: red;
    font-size: 22px;
    text-align: center;
    transform: scale(0);
    transition: ease-in-out;
    margin-top: 10px;
    transition-duration: 1s;
}

.log-in-page {
    margin: 5vh auto 0;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 35vw;
    text-align: center;
    margin-top: 8vh;
    line-height: 3;
    font-size: 30px;
    font-family: 'Architects Daughter', cursive;
    color: burlywood;
    border: solid grey 5px;
    border-radius: 5%;
}

.log-in-page input {
    width: 45%;
    font-size: 25px;
}

.log-in-button {
    text-align: center;
    font: 'Architects Daughter', cursive;
    border-radius: 5%;
    font-size: 30px;
    padding: 2% 3%;
    background-color: burlywood;
}

.log-in-button:hover {
    cursor: pointer;
    background-color: rgba(222, 184, 135, 0.795);
}

.new-account {
    color: whitesmoke;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    margin-top: 1%;
}

.new-account-link {
    color: burlywood;
    text-decoration: none;
}

footer {
    background-color: burlywood;
    height: 40px;
    display: grid;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 40px;
}

footer p {
    margin-left: 2%;
    color: darkslategrey;
}